.contenitore-grid {
  border: 1px solid;
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  padding: 10px;
  gap: 10px;
}

.cella-gioco {
  border: 1px solid;
  cursor: pointer;
  width: 150px;
  height: 150px;
}
